.Bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: solid red;

}
.searchInput {
  margin: 5rem 0rem 1rem 0rem; /* esto con flex-grow barra adaptable*/
  height: 5rem;
  min-width: 30rem;
  max-width: 60rem;
  width: calc(100% - 20rem);/*brutal ajuste de margenes*/
  text-align: center;
  border-radius: 4rem;
  border: solid 0rem;
  background-color: hsla(0, 0%, 95%, 0.5);
  font-size: 2rem;
  
}
.searchInput::placeholder {
  color: black;
  font-size: 2rem;
}
